@font-face {
    font-family: 'FigtreeSuper';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
}

body {
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: 'Figtree';
    text-align: center;
}

.main_card {
    background-color: hsl(0, 0%, 100%);
    margin: 7.5vh 35.5vw;
    padding: 2.75vh 0.5vw;
    border-radius: 5%;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 2.5px 2.5px hsl(0, 0%, 7%);
}

.main_card img {
    border-radius: inherit;
}

.learning {
    background-color: hsl(47, 88%, 63%);
    font-family: 'FigtreeSuper';
    text-align: left;
    max-width: fit-content;
    border-radius: inherit;
    margin: 1.5vh 1.5vw;
}

.learning p,
.publish_date,
.section_title,
.section_describe,
.section_author {
    margin: 1.5vh 1.5vw;
    text-align: left;
}

.learning p {
    padding: 0.5vh 0.025vw;
}

.publish_date {
    margin: 1.5vh 1.5vw;
}

.section_title {
    font-family: 'FigtreeSuper';
    font-size: 24px;
}

.section_title a {
    color: hsl(0, 0%, 7%);
    text-decoration: none;
}

.section_title a:hover {
    color: hsl(47, 88%, 63%);
}

.section_describe {
    color: hsl(0, 0%, 42%);
}

.section_author {
    display: flex;
    align-items: center;
    font-family: 'FigtreeSuper';
    gap: 15px;
}

.section_author img {
    width: 2.5vw;
}

@media ((min-width: 320px) and (max-width: 375px)) {
    body {
        margin: 0;
        font-size: 12px;
        text-align: left;
    }

    .main_card {
        margin: 12.5vh 10vw;
        padding: 0.125vh 2vw;
        border-radius: 3.75%;
    }

    img {
        border-radius: inherit;
        max-width: 70vw;
        margin: 1.5vh 2.5vw;
    }

    .section_title {
        font-size: 18px;
    }

    .section_author img {
        width: 5vw;
    }
}