@font-face {
    font-family: 'FigtreeSuper';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
}

body {
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: 'Figtree';
}

.main_card {
    margin: 10vh 34.5vw;
    padding: 2.5vh 2.5vw;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2.5px 2.5px hsl(0, 0%, 0%);
}

.main_card img {
    border-radius: inherit;
    max-width: fit-content;
}

.learning {
    background-color: hsl(47, 88%, 63%);
    font-family: 'FigtreeSuper';
    max-width: fit-content;
    border-radius: 10%;
    padding: 0.025vh 0.025vw;
    margin: 1.5vh 0;
}

.learning p {
    margin: 1vh 1vw;
}

.section_title {
    font-family: 'FigtreeSuper';
}

.section_describe {
    color: hsl(0, 0%, 42%);
}

.section_author {
    max-width: fit-content;
    max-height: fit-content;
}